.titleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titleLine {
    flex: 1 1 auto;
    height: 14px;
    background: #006195;
}
.left {
    border-radius: 0px 10px 10px 0px;
}
.right {
    border-radius: 10px 0px 0px 10px;
}
.title {
    font-size: 50px;
    font-weight: 500;
}