.btn {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #006195;
    transition: all .3s ease-in-out;
}
.btn, .btn a {
    color: white !important;
    font-size: 20px !important; 
    line-height: 15px !important;
}
.disabled {
    background:rgb(96, 134, 154);
    cursor: default;
}