.tooltip {
    position: absolute;
    top: 70px;
    opacity: 0;
    padding: 10px;
    max-width: 300px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
}
.active {
    opacity: 1;
}
.tooltip p {
    line-height: 24px;
}
.filter__box {
    position: absolute;
    top: 100px;
    border: 0px solid #908E8E;
    border-radius: 10px;
    min-width: 200px;
    background: white;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.filter__box.active {
    max-height: 300px;
    border: 1px solid #908E8E;
}

